*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gameover{
    display: none;
    background-color:rgba(0, 0, 0,.8);
    width: 100%;
    height: 100%;
    position:relative;

}



.game-board p{
    position: relative;
    font-size: 150px;
    color: white;
    text-align: center;
    top: 30%;

}
.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(0, 160, 13);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}



.clouds{
    width: 400px;
    position: absolute;
    animation:clouds-animation 20s infinite linear;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}


.mario{
    width: 120px;
    position: absolute;
    bottom: 0px;
}

.jump{
    animation: jump 800ms ease-in-out;

}

@keyframes pipe-animation{
    from{
        right: 0;
    } 

    to{
        right:100%; 
    }
}





@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom:180px;
    }

    50%{
        bottom:180px;
    }

    60%{
        bottom:180px;
    }

    100%{
        bottom: 0;
    }
}




@keyframes clouds-animation{
    from{
        right: 0%;
    }

    to {
        right:100%
    }
}


mario{
 height: 50px;
 position: absolute;

}